<aside class="sidebar">
    <div class="card">
        <div class="card-image">
            <img src="https://theathleticbuild.com/wp-content/uploads/2015/07/Celia-Gabbiani-e1501636081983.jpg" alt="">
        </div>
        <div class="card-main">
            <div class="card-title">
                Celia Gabbiani
            </div>
            <div class="card-content">
                <p>Je m’appelle Célia Gabbiani, j’ai 23 ans. Je mesure 1m58 pour 50kg. Nageuse en compétition depuis l’âge de 10 ans, j’ai aussi pratiqué le sauvetage sportif sur l’année 2012</p>
            </div>
            <div class="card-footer">
                <a href="https://www.facebook.com/celia.gabbiani/">Facebook</a>
            </div>
        </div>
    </div>
</aside>