<nav class="nav">
    <ul class="menu">
        <li class="menu-item"><a class="menu-link" href="#"></a>Nosotros</li>
        <li class="menu-item"><a class="menu-link" href="#"></a>Programación
            <ul class="menu submenu">
                <li class="menu-item"><a href="" class="menu-link"></a>C#</li>
                <li class="menu-item"><a href="" class="menu-link"></a>ABAP</li>
                <li class="menu-item"><a href="" class="menu-link"></a>Python</li>
                <li class="menu-item"><a href="" class="menu-link"></a>Back-end
                    <ul class="menu submenu">
                        <li class="menu-item"><a href="" class="menu-link"></a>Node.js</li>
                        <li class="menu-item"><a href="" class="menu-link"></a>Django</li>
                        <li class="menu-item"><a href="" class="menu-link"></a>.NET</li>
                    </ul>
                </li>
                <li class="menu-item"><a href="" class="menu-link"></a>Front-end
                    <ul class="menu submenu">
                        <li class="menu-item"><a href="" class="menu-link"></a>HTML5</li>
                        <li class="menu-item"><a href="" class="menu-link"></a>CSS5</li>
                        <li class="menu-item"><a href="" class="menu-link"></a>Javascript</li>
                    </ul>
                </li>
            </ul>
        </li>
        <li class="menu-item"><a class="menu-link" href="#"></a>Blog</li>
        <li class="menu-item"><a class="menu-link" href="#"></a>Contacto</li>
    </ul>
</nav>